@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
    @apply m-0;
}

@layer utilities {
    .hide-scrollbar::-webkit-scrollbar {
        display: none;
      }
      
      /* Скрытие ползунка скролла для Firefox */
      .hide-scrollbar {
        scrollbar-width: none;
      }
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
